* 				{ margin: 0; padding: 0; }
body			{ font: 16px Helvetica,Sans-Serif  ; 
				  background-color:silver; 
				  background-image:url('../images/background.jpg');
				  //background-repeat: repeat-x repeat-y;
				  background-size: 100%
				  
			
				} 
#page-wrap		{ background-color:#ccc; width: 1077px; margin: 25px auto;  } 
a				{ text-decoration: none; color:red }
ul				{ list-style: none; }
p                              { margin: 15px 0; }


ul.dropdown li {
	background-image:url('../images/background.jpg');
}


/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; top:0px}
ul.dropdown li                      {  font-weight: bold; float: left; zoom: 1; background_old: #ccc; }
ul.dropdown li:hover          { -moz-transform: scale(1.05); -webkit-transform: scale(1.05); box-shadow: 3px 3px 7px #333;border-radius:10px;-moz-border-radius:10px}
ul.dropdown a:hover		            { color: #000}
ul.dropdown a:active                { color: #808080; }
ul.dropdown li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: black; }
ul.dropdown li:last-child          { float: right;border-left: 1px solid #333; }								  
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #e2e2e2; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ font: 13px Helvetica, Sans-Serif; width: 310px; visibility: hidden; position: absolute; top: 100%; left: 0px; }

ul.dropdown ul li 					{ font-weight: normal; background_old: #ccc; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
ul.dropdown ul li:last-child          { float: none;border-left: 0px solid #333; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }
#kurze_breite						{ width: 228px; }


/*
LOGO
*/
#logo {float:right;margin:1em; position:relative;box-shadow: 3px 3px 7px #333;border-radius:10px;-moz-border-radius:10px}
#logo a { color: black; font-weight: bold }
/*
	CONTENT
*/
#content							{ 
	left:0px; 
	top:-10px; 
	z-index:40;"
	clear:both; 
	width: 100%;
	//position: relative;
	text-align:center;
	border-top:35px solid red;
	//margin-bottom:0em;
	//margin-top:10em;
	background-image:url('../images/background-content.jpg');
	background-repeat:repeat;
	//background: no-repeat center center fixed\0/;
	/*-moz-background-size:100% 100%; Firefox 
	-webkit-background-size:100% 100%; Safari, Chrome 
	-o-background-size: 100% 100%; Opera 9.5 
	background-size:100% 100%; Opera, IE, W3C Standard */
	-moz-border-image: url(../images/background.jpg) 0;    /* Gecko 1.9.1 (Firefox 3.5) */
	//background: z-index: 200;
}
#content table						{
margin: auto 0;
}
/*#start-background-image {
	background-image:url('../images/start_background.jpg');

}*/


/*  
	FOODER
*/
#fooder {
	//position: relative;
	//bottom:0;
	// width:700px;
	margin:0 auto;
	//left:auto;
	//padding: 0;
	border-top:15px solid red;
	//z-index=-1;
	//top: 350px;
    //background-color:#99001C;
	//width: 100%;
}



#fooder table tr td {
	padding: 0.5em;
	background-image:url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
	font: 10px Courier New,Helvetica, Sans-Serif; 
	text-align: left;
	width:190px;
	padding-left:15px;
	
}

#fooder table tr td:hover { -moz-transform: scale(1.15); -webkit-transform: scale(1.15); box-shadow: 6px 6px 14px #333}